body{
    background-color: #fff;
  }
  .m_layout {
      min-width: 300px;
      max-width: 640px;
      margin: 0 auto;
      position: relative;
  }


*,
::before,
::after {
    padding: 0;
    margin: 0;
    /*去掉chorm浏览器中默认点击的颜色*/
    -webkit-tap-highlight-color: transparent;
    /* -webkit-box-sizing: border-box; */
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei" sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

input,
textarea {
    border: none;
    resize: none;
    outline: none;
    /*清除移动设备中表单的默认样式*/
    /* -webkit-appearance: none; */
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}


