body {
    background-color: #F0F2F5;
}



.login {
    color: #fff;
    display: inline-block;
    background: #f15353;
    border-radius: inherit;
    padding: 4px 12px;
    line-height: 1.2em;
    color: #fff;
}


/* 购物车 */
main.cart{
     margin: 46px 8px 0px 8px;
     min-width: 300px;
     max-width: 640px;
     margin: 0 auto;
}
.cart_content {
    background-color: #fff;
    margin-bottom: 6px;
    overflow: hidden;

}
/*购物车---title*/
.cart_content .cart_shop {
    height: 40px;
    width: 100%;
   
}

.shop_info { 
    width: 140px; 
    height: 44px;
    float: left;
    line-height: 44px;
    margin-left: 28px; 
}


.cart_free {
    height: 44px;
    float: right;
    line-height: 44px;
    text-align: center;
    color:#f00;   
    padding-right: 28px;
}

/* 购物车----item */

.cart_content .cart_item {
    height: 130px;
    width: 100%;
    margin-top: 4px;
  
     margin-bottom: 8px;
}

.cart_item .check{
    float: left;
    width: 40px;
    margin-left: 28px; 
    line-height: 130px;
}

/* 商品详情---box */
.cart_item .cart_detial_box {   
    background-color: #fff;
    height: 130px;
    width:80%; 
    margin-left: 46px;   
     box-shadow: 0 0 1px #ccc;
}
/* 商品详情---box ----img*/
.cart_detial_box .cart_product_link {
    width: 100px;
    height: 130px;
    display: block;
    float: left;
    background-color: #fff;
    position: relative;
}

.cart_detial_box .cart_product_link img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;    border-radius: 4px;
    transform: translateY(-50%);
    line-height: 130px;
}


/* 商品详情---box ----title*/
 .cart_detial_box .item_names {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 20px;
}

.cart_detial_box .cart_item_spec {   
     height: 36px;
    margin-top: 2px;
    color: #BCCCCA;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 16px;
}

.cart_detial_box .cart_item_spec i{
    font-style: normal;
}

.cart_detial_box .cart_product_sell {
    width: 100%;
    position: relative;
}

.cart_detial_box .cart_product_sell .product_money {
    font-size: 12px;
    color: #F23030;
}
/* 商品详情---box ----input*/
.cart_count_box {
    width: 90px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 4px;
    padding-right: 4px;
}

.cart_product_sell .cart_count_box .item_count_add,
.cart_product_sell .cart_count_box .item_count_sub {
    width: 25px;
    height: 24px;
    border: 1px solid #CBCBCB;
    text-align: center;
    float: right;
    line-height: 24px;
}

.cart_product_sell .cart_count_box .item_count_sub {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cart_product_sell .cart_count_box .item_count_add {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cart_product_sell .cart_count_box .item_count {
    height: 24px;
    width: 30px;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    text-align: center;
    float: right;
}

/* 删除弹框 */
.askPop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 10%;
    z-index:11;
}

.askPop .pop_box {
    width: 85%;
    height: 140px;
    background-color: #fff;
    border-radius: 8px;
    margin: 50% auto;
    padding: 0 5%;
}

.askPop .pop_box .del_info {
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    color: #888888;
}
.askPop .pop_box .cop-btn{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.askPop .pop_box .btn{
    width: 35%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    
}
.askPop .pop_box .del_cancel {
    border: 1px solid #bfbfbf;   
    margin-right: 2%;
    color:#000;
}

.askPop .pop_box .del_ok {
    background: #ff2000;
    color: #fff;
}


