body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


.category_content {
    width: 100%;
    height: 100%;
    position: relative;
    /* padding-top: 45px; */
    margin-top: 10px;
}
.recommend_you{
    height: 26px;
    width: 90px;
    margin-top: 54px;
    color: #f00;
    text-align: center;
    line-height: 36px;

}

/* 分类左 */
.category_content .category_left_box {
    width: 24%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    background-color: #fff;
}

/* 分类右 */
.category_content .category_right_box {
    width: 75%;
    height: 100%;
    margin-left:25%;
    background-color: #fff;
    overflow: hidden;
    margin-top: -5px;
}


