body {
    background-color: #F0F2F5;
}
/* 详情 */
.detail_box {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

/* banner */
.banner_box{
    width: 100%;
    height: 355px;
    position: relative;
    left: 0;
    top: 47px;
    margin-bottom: 50px;
    overflow: hidden;
}

.banner_box .child_banner_box  .banner_item{
     position:absolute;
     bottom:10px;
     right:10px;
     width: 100%;
 }

/* banner数量 */
.banner_box .banner_count {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 10;
    position: absolute;
    right: 14px;
    bottom: 14px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    line-height: 40px;
}

.banner_count i {
    font-style: normal;
    color: #fff;
}

.banner_count .now_count,.banner_count .nub-bg {
    font-size: 12px;
}

.banner_count .total_count {
    font-size: 14px;
}


/* title */
.product_info {
    width: 100%;
    height: auto;
    background-color: #fff;
}
.product_price_box .product_name {
    color: #48484B;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    padding: 3px;
    overflow: hidden;
}
.product_info .product_price_box {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    position: relative;
}

.product_price_box .product_price {
    margin-top: 10px;
}

.product_price span {
    color: #F23434;
}

.product_price span:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    margin: 0 -3px;
}

.product_info .product_right {
    position: absolute;
    right: 12px;
    bottom: 2px; 
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    text-align: center;
    line-height: 14px;
    padding: 10px 10px;
 
}
/* 商品介绍 */
.product_intro {
    margin-top: 10px;
    height: auto;
    background-color: #fff;
    padding: 10px 0 10px 6px;
}

.product_intro .product_detail {
    font-size: 16px;
    font-weight: 500;
    color: #48484B;
    line-height: 20px;
}


/* 底部固定bar */
.detail_footer {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    /* z-index:10; */
    background-color: #fff;
    border-top: 1px solid rgb(236, 197, 152);
    border-bottom: 1px solid #bfbfbf;
}

.detail_footer .footer_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.detail_footer .footer_box .cop_footer{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.detail_footer .footer_item_link{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.active{
    color: #f00;
}


/* 购买btn */
.footer_box .btnBox {
    width: 50%;
    height: 100%;
    float: right;
}
.btnBox a {
    display: inline-block;
    width: 50%;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 60px;
}
.btnBox .add_to_cart {
    background-color: #FFB03F;
}
.btnBox .buy_now {
    float: right;
    background-color: #F23030;
}
