/* 头部 */
.head_layout{
    position: relative;
    overflow: hidden;
}
.head_layout .goods_search_keywords {
    width: 72%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    /* box-shadow: 0 1px 1px #848689; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 8px;
}
/* 查询条件 */
.searchPage .search_condition {
    width: 100%;
    height: 46px;
    margin-top: 50px;
    border-bottom: 1px solid #DFDFDF;
}

.search_condition ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search_condition ul li {
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 46px;
}

.search_condition li em {
    width: 10px;
    height: 8px;
    display: inline-block;
    background: url("../images/jd-sprites.png") no-repeat;
    background-size: 200px 200px;
}

.search_condition .all_icon{
    background-position: 0 -109px;
}
.search_condition .product_price .price_nav{
    width: 12px;
    height: 8px;
    background-position: -170px -31px;
}


.search_condition .drop {
    width: 16px;
    height: 12px;
    display: inline-block;
    background: url("../images/jd-search-sprites.png") -175px 3px no-repeat;
    background-size: 200px 200px;
    margin-left: -4px;
}

.search_condition span {
    color: #F23030;
}



/* 商品详情 */
.search_goods_box {
    width: 100%;
    margin-top: 70px;
    padding-top:30px;  
}
.search_goods_box .goods_item {
    width: 100%;
    height: 120px;
    padding: 10px;
}

.goods_item .goods_item_link {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #eee;
    position: relative;
}

.goods_item_link .goods_item_pic {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.goods_item_link .goods_right {
    position: absolute;
    left: 104px;
    top: 0;
    height: 100%;
}

.goods_right .product_name {
    height: 40%;
}

.goods_right .price_box {
    color: #F34545;
    height: 20%;
    line-height: 20px;
    margin-top: 10px;
}

.goods_right .price_box span:nth-child(2) {
    font-size: 18px;
    margin: 0 -3px;
}

.goods_right .content_count {
    margin-top: 5px;
    color: #848689;
} 
